<div class='page-header'>
  <h2>Photo showdown</h2>

    <div class='row-fluid'>
      <div class='span4'><p>Vote for the top pic here</p></div>
      <div class='span8'><%= link_to 'New Picture', new_picture_path, class: 'btn btn-inverse pull-right' %></div>
    </div>

</div>

<div class='container-fluid'>
  <div class='row-fluid'>
    <%= render 'pics' %>
  </div>
</div>
