<h1>Top Pictures</h1>

<ul>
	<% @pictures_top.each do |p| %>
		<li><%= p.title %></li>
			<% if p.url.blank? %>
    		<li><%= image_tag p.image %></li>
    		<% else %>
    		<li><%= image_tag p.url %></li>
			<% end %>
		<li>Votes: <%= p.votes_count %></li>
	<% end %>
<ul>